<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    {% block head %}
    
    <title>{% block title %}{% endblock %} - Radio Combination</title>
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand h1" href="#">
            RICA - Radio Imaging Combination Analysis
        </a>
        <a class="nav-link nav-item" href="https://gitlab.com/mileslucas/rica" target="_blank">Gitlab</a>
        <span class="navbar-test"><a href="mailto:mdlucas@iastate.edu" class="text-secondary">Miles Lucas</a></span>
    </nav>
    
    <div id="content" class="container-fluid">
        {% block content %}{% endblock %}
    </div>
    
</body>

{% block javascript %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

</html>