{% extends "base.html" %}
{% block title %}Report{% endblock %}

{% block content %}

<div class="jumbotron bg-white">
    The following table has the culmination of images and data from my tests of 
    different methods of combining single dish and interferometric radio image data. 
    For more information about the code, please see my Gitlab repository. For more information about the project, please see the paper at <a href="https://gitlab.com/mileslucas/rica-report/blob/master/report.pdf">RICA-report</a>.
</div>

<div id="accordion">
    {% for m in models %}
    <div class="mb-2">
        <div id="heading{{ m }}">
            <button class="btn btn-block btn-lg btn-secondary" data-toggle="collapse" data-target="#collapse{{ m }}" aria-expanded="false" aria-controls="collapse{{ m }}">
                {{ m.title() }}
            </button>
        </div>
    </div>
    
    <div id="collapse{{ m }}" class="collapse" aria-labelledby="heading{{ m }}" data-parent="#accordion">
        <div class="container">
            <p><b>Model:</b> {{ m.split('-')[0] }}</p>
            {% if not m == 'ppd' %}
                <p><b>Single Dish Size:</b> {{ params[m].get('sd_size', 100) }} m</p>
                <p><b>Configuration:</b> VLA {{ params[m].get('config', 'd').upper() }}</p>
                <p><b>Clean Params:</b></p>
                {% for k, p in params[m]['params'].items() %}
                    {% if k == 'mask' %}
                        <p style="padding-left:5em">{{ k }}: {{ p.split('../')[-1] }}</p>
                    {% else %}
                        <p style="padding-left:5em">{{ k }}: {{ p }}</p>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p><b>Single Dish Size:</b> 12 m</p>
                <p><b>Configuration:</b> ALMA 20</p>
                <p><b>Clean Params:</b></p>
                {% for k, p in params[m]['params'].items() %}
                    <p style="padding-left:5em">{{ k }}: {{ p }}</p>
                {% endfor %}
            {% endif %}
        </div>

        <table class="table">
            <thead>
                <tr>
                    {% for r in ratios[m] %}
                    <th scope="col", class="text-center">{{ r.split('__')[-1][:-4] }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for plot in ratio_plots[m] %}
                    <td class="text-center" style="width:50%">{% include "ratio_plots/" + plot %}</td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for r in ratios[m] %}
                    <td class="text-center"><a href="static/ratios/{{ r }}">{{ r.split('__')[-1][:-4] }} data</a></td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for plot in chi2_plots[m] %}
                    <td class="text-center" style="width:50%">{% include "chi2_plots/" + plot %}</td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for c in chi2[m] %}
                    <td class="text-center"><a href="static/chi2/{{ c }}">{{ c.split('__')[-1][:-9] }} chi2 data</a></td>
                    {% endfor %}
                </tr>
		
            </tbody>
        </table>
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="text-center">Name</th>
                    <th scope="col" class="text-center">Diagnostic Plot</th>
                    <th scope="col" class="text-center">Result Plot</th>
                </tr>
            </thead>
            <tbody>
                {% for r, d in zip(results[m], diags[m]) %}
                <tr>
                    <th class="align-middle" scope="row">{{ r.split('__')[-1][:-4].replace('_', ' ')}}</th>
                    <td class="align-middle">
                        <a href="static/images/diags/{{ d }}">
                            <img class="figure-img img-fluid", src="static/images/diags/{{ d }}">
                        </a>
                    </td>
                    <td class="align-middle">
                        <a href="static/images/results/{{ r }}">
                            <img class="figure-img img-fluid", src="static/images/results/{{ r }}">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    {% endfor %}
    
</div>





{% endblock %}
